.shortlineContainer {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.stockList {
  max-height: 100%;
  overflow: auto;
}
.height100 {
  height: 100%;
}
.colorRed {
  color: red;
}
.listItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}